.stable {
	background-color: red;
	width: 50%;
	margin: auto;
	margin-top: 20%;
}
.title {
	background-color: blue;
}
.add {
	background-color: green;
}
.addButton {
	font-size: 25px;
}
.tasks {
	background-color: red;
	width: 50%;
	margin: auto;
	margin-top: 5px;
}
.left {
	width: 58%;
	background-color: blue;
	max-width: 58%;
}
.grid {
	width: 40%;
	background-color: green;
}
#addData {
	margin-top: 2px;
	font-size: 25px;
}
ul {
	padding-top:5px;
	padding-bottom:5px;
}
li {
	list-style-type:none;
	background-color:blue;
	margin-top:5px;
	margin-bottom:5px;
	padding:2px;
}
.grid {
	display:inline-block;
	float:right;
}
.close {
	float:right;
	background-color:white;
	margin-left:5px;
}
.done {
	float:right;
	background-color:white;
}